.item{ id: "#{type}-id-#{id}", class: [type != :module ? "belongs-#{parent_i18n_object_type(type)}-id-#{parent_id}" : "", hide ? "hidden" : ""].join(" ") }
  = label
  -# .vote-btn.gray
  -# .vote-btn.pink
  -# .vote-btn.yellow
  -# .vote-btn.green
