:javascript
  global.currentModuleId = #{@current_module.id};
  global.currentPackageId = #{@current_package.id};
  global.currentFileId = undefined;

%h1= t '.title'
#content-wrap.hidden
  #column-headers
    .col-header= t '.modules'
    .col-header= t '.packages'
    .col-header= t '.files'
  #main-columns
    #module.col
    #package.col
    #file.col
  #popup.hidden
#page-loading-stub= t 'page-loading-stub'
